#app-title {
	color:#2a2a2a;
}
.weather-icon {
    font-size: 2em;
    float: left;
}
.weather-desc:first-letter {
	text-transform:capitalize;
}
.weather-desc {
	color:#888;
}
.city-temp {
	font-weight: bold;
}
.add-form-container {
	margin-bottom: 2em;
}
.list-group .list-group-item .row-content .least-content {
    right: 5px;
}