<div class="col-md-12">
    <div class="row add-form-container">
      <div class="col-md-5 col-md-offset-7">
              <form ng-submit="add(cityName)">
                  <div class="form-group label-floating" ng-class="{'has-error' : err}">
                    <div class="input-group">
                      <label class="control-label" for="input-city" ng-show="err">{{message}}</label>
                      <input type="text" id="input-city" class="form-control" ng-model="cityName">
                      <p class="help-block">{{label}}</p>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-raised">
                              <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
              </form>
      </div>
    </div>
    <div class="row">
    <table class="table table-hover">
       <thead>
           <tr>
               <th>City</th>
               <th>id</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
           <tr ng-repeat="city in cities track by $index">
               <td>{{city.name}}</td>
               <td>{{city.id}}</td>
               <td><a href="" ng-click="remove(city)"><span class="glyphicon glyphicon-remove"></span></a></td>
           </tr>
       </tbody>
    </table>
    </div>
   </d iv>
